@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --accent-trans: rgba(120, 26, 179, 0.5);
    --heading-stats: hsl(0, 0%, 100%);
    --main-para:  hsla(0, 0%, 100%, 0.5);
    --stats-heading: hsla(0, 0%, 100%, 0.6);

}

body {
    font-family: 'Inter', 'sans-serif';
    font-size: 15px;
    background: var(--main-bg);
    color: var(--heading-stats);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h3 {
    margin-bottom: 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:75%;
    min-width: 825px;
    min-height: 400px;
    height: 50vh;
    border-radius: 5px;
}

.left {
    width: 50%;
    height: 100%;
    background: var(--card-bg);
    border-radius: 10px 0 0 10px; 
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 6%;
    padding-right: 8%;

}

.right {
    width: 50%;
    height: 100%;
    border-radius:  0 10px 10px 0; 
    background: linear-gradient(0, var(--accent-trans), var(--accent-trans)), url("images/image-header-desktop.jpg");
    background-size: cover;
}


.main-para {
    color: var(--main-para);
    font-weight: 400;
    line-height: 1.5rem;
}

.stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stat-val {
    font-size: 23px;
}

.deca {
    font-family: 'Lexend Deca', 'sans-serif';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

#purple {
    color: var(--accent);
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0;
}


.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 850px) {

    .container {
        flex-direction: column-reverse;
        min-height: 80vh;
    }

    .right {
        height: 40%;
        background: linear-gradient(0, var(--accent-trans), var(--accent-trans)), url("images/image-header-mobile.jpg");
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    .left {
        padding: 0 20px;
        border-radius: 0 0 10px 10px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stat-val {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .main-para {
        text-align: center;
    }

    h1 {
        font-size: 25px;
        text-align: center;
    }

}